* text=auto
*.py text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.spec text eol=lf
*.service text eol=lf
*.plist text eol=lf
*.ps1 text eol=crlf
